<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title></title>
</head>

<!-- Language Selector Fragment -->
<div th:fragment="languageSelector">
    <div class="language-selector-container">
        <form method="GET">
            <label>
                <select name="lang" onchange="this.form.submit()">
                    <option value="en" th:selected="${#locale.getLanguage() == 'en'}">English</option>
                    <option value="ms" th:selected="${#locale.getLanguage() == 'ms'}">Bahasa Melayu</option>
                    <option value="zh" th:selected="${#locale.getLanguage() == 'zh'}">Mandarin (普通话)</option>
                    <option value="ta" th:selected="${#locale.getLanguage() == 'ta'}">Tamil (தமிழ்)</option>
                </select>
            </label>
        </form>
    </div>
</div>